body{
    margin: 0;
    overflow: hidden;
}
.playButton {
  margin:0;
  background: none;
  color: #5a5a5a;
  font-size: 12px;
  font-family: cursive;
  border: 1px solid #bdb2ff;
  padding: 10px 24px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 8px #f8e1f4;
}

.playButton:hover{
    font-weight: 700;
    color: #222;
}

.pauseButton {
    margin:0;
    background: none;
    color: #5a5a5a;
    font-size: 12px;
    font-family: cursive;
    border: 1px solid #a0c4ff;
    padding: 10px 24px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 8px #d7f6fa;
}
.pauseButton:hover{
    font-weight: 700;
    color: #222;
}
.changeSong{
  margin:0;
  background: none;
  color: #5a5a5a;
  font-size: 12px;
  font-family: cursive;
  border: 1px solid #ffc6ff;
  padding: 10px 24px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 8px #f8e1f4;
}
.changeSong:hover{
    font-weight: 700;
    color: #222;
}

select.changeSong{
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#buttonSpace {
  display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 20px;              
  margin-top: 20px;
}
#volumeSliderSpace{
  display: flex;
  justify-content: left; 
  align-items: center;     
  gap: 5px;              
  margin: 0;
  padding: 0 0px 0px 20px;
}
.speakerIcon {
  font-size: 22px;
  color: #5a5a5a;
  user-select: none;
}
.sliderCust{
  appearance: none;
  padding: 0;
  margin: 0;
  border-radius: 100px;
  opacity: 80%;
}
.sliderCust::-webkit-slider-runnable-track {
  height: 5px;
  box-shadow: 0 2px 8px #d7f6fa;
  border: 1.5px solid #a0c4ff;
  border-radius: 100px;
}
.sliderCust::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1.5px solid #a0c4ff;
  border-radius: 50%;
  box-shadow: 0 2px 8px #d7f6fa;
  cursor: pointer;
  margin-top: -6px; 
}
.sliderCust:focus::-webkit-slider-thumb {
  background: #a0c4ff;
}





