body{
    margin: 0;
    overflow: hidden;
}
.playButton {
  margin:0;
  background: none;
  color: #5a5a5a;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #bdb2ff;
  padding: 10px 24px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 8px #f8e1f4;
}

.playButton:hover{
    font-weight: 700;
    color: #222;
}

.pauseButton {
    margin:0;
    background: none;
    color: #5a5a5a;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #a0c4ff;
    padding: 10px 24px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 8px #d7f6fa;
}
.pauseButton:hover{
    font-weight: 700;
    color: #222;
}
.changeSong{
  margin:0;
  background: none;
  color: #5a5a5a;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #ffc6ff;
  padding: 10px 24px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 8px #f8e1f4;
}
.changeSong:hover{
    font-weight: 700;
    color: #222;
}
#buttonSpace {
  display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 20px;              
  margin-top: 20px;
}




